@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    Other links:
    https://material.io/components
    https://codepen.io/Josantonius/pen/BzNwXz
*@

@model AddEventViewModel

<form method="post" id="add-event-form" asp-controller="Home" asp-action="AddEvent">
    <input type="hidden" asp-for="SubjectId" />
    <!-- Add Event dialog -->
    <div class="mdc-dialog" id="add-event-dialog" data-mdc-auto-init="MDCDialog">
        <div class="mdc-dialog__container">
            <div class="mdc-dialog__surface"
                 role="alertdialog"
                 aria-modal="true"
                 aria-labelledby="add-event-dialog-title"
                 aria-describedby="add-event-dialog-content">
                <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
                <h2 class="mdc-dialog__title" id="add-event-dialog-title">
                    Add Event
                </h2>
                <div class="mdc-dialog__content" id="add-event-dialog-content">
                    <div><!--To fix margin-top:0 for first child in mdc-dialog__content--></div>
                    <label class="mdc-text-field mdc-text-field--outlined mtop10" id="event-subject" data-mdc-auto-init="MDCTextField">
                        <span class="mdc-notched-outline">
                            <span class="mdc-notched-outline__leading"></span>
                            <span class="mdc-notched-outline__notch">
                                <span class="mdc-floating-label" id="event-subject-label">Id or Name of a subject</span>
                            </span>
                            <span class="mdc-notched-outline__trailing"></span>
                        </span>
                        <input type="text" class="mdc-text-field__input"
                            aria-labelledby="event-subject-label"
                            aria-controls="event-subject-helper"
                            aria-describedby="event-subject-helper"
                            oninput="onSearchEventSubject(event)"
                            onkeydown="onSearchEventInputKeyDown(event)"
                            data-mdc-dialog-initial-focus>
                    </label>
                    <!--Component menu-surface is not attached here, only css styles are applied-->
                    <div class="mdc-menu-surface mdc-menu-surface--open" id="event-subject-result-container">
                        <ul class="mdc-list mdc-list--two-line" id="event-subject-result-list" role="menu" aria-hidden="true" aria-orientation="vertical" data-mdc-auto-init="MDCList"></ul>
                    </div>
                    <div class="mdc-text-field-helper-line">
                        <div class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent" id="event-subject-helper" aria-hidden="false">Start typing here Id or Name of a subject</div>
                    </div>

                    <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--textarea mtop10"
                        id="event-description" data-mdc-auto-init="MDCTextField">
                    <span class="mdc-notched-outline">
                        <span class="mdc-notched-outline__leading"></span>
                        <span class="mdc-notched-outline__notch">
                            <span class="mdc-floating-label" id="event-description-label">Event description</span>
                        </span>
                        <span class="mdc-notched-outline__trailing"></span>
                    </span>
                    <textarea asp-for="Description" class="mdc-text-field__input" rows="6" cols="40" aria-labelledby="event-description-label"
                    oninput="onInputEventDescription(event)" ></textarea>
                    </label>

                    <div class="mtop10">
                        <output name="result"></output>
                    </div>
                </div>

                <div class="mdc-dialog__actions">
                    <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close" data-mdc-auto-init="MDCRipple">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">Close</span>
                    </button>
                    <button type="button" id="add-event-button" class="mdc-button mdc-dialog__button" disabled onclick="onAddEvent(this.form)" data-mdc-auto-init="MDCRipple">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="mdc-dialog__scrim"></div>
    </div>
    <!-- Add Event dialog -->
</form>