<div class="mdc-dialog" id="del-event-dialog" data-mdc-auto-init="MDCDialog">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface"
             role="alertdialog"
             aria-modal="true"
             aria-labelledby="del-file-dialog-title"
             aria-describedby="del-file-dialog-content">
            <h2 class="mdc-dialog__title" id="del-file-dialog-title">
                Delete events
            </h2>
            <div class="mdc-dialog__content" id="del-file-dialog-content">
                Do you really want to delete selected events and files?
            </div>
            <div class="mdc-dialog__actions">
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="cancel" data-mdc-dialog-initial-focus data-mdc-auto-init="MDCRipple">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">No</span>
                </button>
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="delete" data-mdc-auto-init="MDCRipple">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">Yes</span>
                </button>
            </div>
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</div>