@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    Other links:
    https://material.io/components
    https://codepen.io/Josantonius/pen/BzNwXz
*@

@model UploadEventFileViewModel

<form method="post" id="file-upload" enctype="multipart/form-data" asp-controller="Home" asp-action="UploadFile">

    <input type="hidden" asp-for="eventId" />
    <!-- File upload dialog -->
    <div class="mdc-dialog" id="file-upload-dialog" data-mdc-auto-init="MDCDialog">
        <div class="mdc-dialog__container">
            <div class="mdc-dialog__surface"
                 role="alertdialog"
                 aria-modal="true"
                 aria-labelledby="file-upload-dialog-title"
                 aria-describedby="file-upload-dialog-content">
                <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
                <h2 class="mdc-dialog__title" id="file-upload-dialog-title">
                    Upload File
                </h2>
                <div class="mdc-dialog__content" id="file-upload-dialog-content">
                    <div class="form-field-container">
                        <!--https://codepen.io/Josantonius/pen/BzNwXz-->
                        <input type="text" id="fileName" readonly placeholder="Maximum file size is 10MB">
                        <div id="file-upload-wrapper" class="mdc-button">
                            <div class="mdc-button__ripple"></div>
                            <span>BROWSE</span>
                            <input type="file" asp-for="formFile" class="upload" onchange="onChangeFile(this)" titel="Select file" placeholder="Select file"/>
                        </div>
                    </div>

                    <div class="mtop10">
                        <output name="result"></output>
                    </div>
                </div>
                <div class="mdc-dialog__actions">
                    <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close" data-mdc-dialog-initial-focus data-mdc-dialog-button-default data-mdc-auto-init="MDCRipple">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">Close</span>
                    </button>
                    <button type="button" id="upload-button" class="mdc-button mdc-dialog__button" disabled onclick="onUpload(this.form)" data-mdc-auto-init="MDCRipple">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">Upload</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="mdc-dialog__scrim"></div>
    </div>
    <!-- File upload dialog -->
</form>