@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    Other links:
    https://material.io/components
    https://codepen.io/Josantonius/pen/BzNwXz
*@

@model UploadEventFileViewModel

<form method="post" enctype="multipart/form-data" asp-controller="ComponentEvent" asp-action="UploadFile">
    <input type="hidden" asp-for="fileType" />
    <input type="hidden" asp-for="eventId" />
    <!-- Диалог параметров загрузки файла-->
    <div class="mdc-dialog" id="file-upload-dialog">
        <div class="mdc-dialog__container">
            <div class="mdc-dialog__surface"
                 role="alertdialog"
                 aria-modal="true"
                 aria-labelledby="file-upload-dialog-title"
                 aria-describedby="file-upload-dialog-content">
                <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
                <h2 class="mdc-dialog__title" id="file-upload-dialog-title">
                    Параметры
                </h2>
                <div class="mdc-dialog__content" id="file-upload-dialog-content">
                    <div class="form-field-container">
                        <!--https://codepen.io/Josantonius/pen/BzNwXz-->
                        <input type="text" id="fileName" readonly placeholder="Максимальный размер файла 10MB">
                        <div id="fileUploadWrapper" class="mdc-button">
                            <div class="mdc-button__ripple"></div>
                            <span>Выберите файл</span>
                            <input type="file" asp-for="formFile" class="upload" onchange="onChangeFile(this)" />
                        </div>
                    </div>

                    <div style="margin-top:15px">
                        <output name="result"></output>
                    </div>

                    <div class="mdc-dialog__actions">
                        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close" data-mdc-dialog-initial-focus data-mdc-dialog-button-default>
                            <div class="mdc-button__ripple"></div>
                            <span class="mdc-button__label">Закрыть</span>
                        </button>
                        <button type="button" id="uploadButton" class="mdc-button mdc-dialog__button" disabled onclick="onUpload(this.form)">
                            <div class="mdc-button__ripple"></div>
                            <span class="mdc-button__label">Загрузить</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdc-dialog__scrim"></div>
    </div>
    <!-- Диалог параметров загрузки файла-->
</form>