html, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#fileUploadWrapper input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: 10;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#fileName {
    border: none;
    width: 100%;
}

.user-info {
    display: inline-block;
    float: right;
}

h6{
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-field-container {
    width: 100%;
    margin: 10px auto;
}

.file-type-select {
    width: 100%;
}

.clickable {
    cursor:pointer;
}

.event-relation {
    display: flex;
    align-items: center;
}

.main-data-table {
    margin-top: 20px;
}

#searchResultListContainer {
    display: none;
    min-width: 300px;
}

input[type="file"] {
    height: 100%;
}

.disabled-file-input {
    color: rgba(0, 0, 0, 0.38)!important;
    cursor: default;
    pointer-events: none;
}

.bottom-line {
    display: flex;
    margin: 10px;
    justify-content: flex-end;
}